<!doctype html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.4.1/dist/email.min.js"></script>
    <!-- <script type="text/javascript">
        // window.onload = function () {
        //     document.getElementById('contact-form').addEventListener('submit', function (event) {
        //         event.preventDefault();
        //     }
    </script> -->
    <%- include('partials/header.ejs') %>

    <title>Contact Us</title>
</head>

<body>
    <%- include('partials/nav.ejs', {page: 'contact', user}) %>
    <h1>Contact Us</h1>
    <div class="container">
        <form id="contact-form">
            <input type="hidden" name="contact_number">
            <label>Name</label>
            <input type="text" name="user_name">
            <label>Email</label>
            <input type="email" name="user_email">
            <label>Message</label>
            <textarea name="message"></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
    <%- include('partials/scripts.ejs') %>
<script>
        function formSubmit(event) {
            event.preventDefault();
            var template_params = {
                "reply_to": "user_email_value",
                "from_name": "user_name_value",
                "to_name": "contact_number_value",
                "message_html": "message_value"
            }
            var service_id = "default_service";
            var template_id = "template_KbVHwxJB_clone";
            emailjs.send(service_id, template_id, template_params);
        };
        var myform = $("form#forms");
        myform.submit(function (event) {
            event.preventDefault();
            // Change to your service ID, or keep using the default service
            var service_id = "default_service";
            var template_id = "template_KbVHwxJB_clone";
            myform.find("button").text(["Sending..."]);
            emailjs.sendForm(service_id, template_id, "myForm")
                .then(function () {
                    //alert("Sent!");
                    myform.find("button").text("Send");
                }, function (err) {
                    alert("Send email failed!\r\n Response:\n " + JSON.stringify(err));
                    myform.find("button").text("Send");
                });
            return false;
        });
                // function getEmail() {
                    // var template_params = {
                        // "reply_to": "name_value",
                        // "message_html": "Send_value"
                //     }
                    // var service_id = "default_service";
                    // var template_id = "template_KbVHwxJB";
                    // emailjs.send(service_id,template_id , this);
                // }
            </script>
                <script type="text/javascript">
                    (function () {
                        emailjs.init("user_kSX943GxVcO0e6swEwllI");
                    })();
            </script>
</body>

</html>